@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-auth {
  background-image: url('./assets/kopi.jpg');
}


@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter.ttf") format("truetype");
}

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}
